@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.c-anchorlink {
  position: relative;
  margin-top: 80px;

  &__list {
  }
  &__item {
    border-left: 1px solid #585858;
    &:last-child {
      border-right: 1px solid #585858;
    }
    a {
      display: block;
      padding-inline: 20px 45px;
      letter-spacing: -0.01em;
      width: 100%;
      position: relative;
      font-size: 17px;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 25px;
        height: 25px;
        background: url(../../assets/img/common/arrow_pink.svg) no-repeat right center;
        transition: all 0.3s ease;
        pointer-events: none;
      }
    }
  }
}
