@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.c-anchorlink {
  position: relative;
  margin-top: 80px;
  @include for-device(tablet) {
    width: 90%;
    margin-inline: auto;
  }
  &__list {
    @include for-device(tablet) {
      flex-direction: column;
      row-gap: 20px;
    }
  }
  &__item {
    border-left: 1px solid #585858;
    @include for-device(tablet) {
      border-left: 0px solid #585858;
    }
    @include for-device(tablet) {
      &:not(:last-child) {
        border-bottom: 1px solid #585858;
        padding-bottom: 20px;
      }
    }
    &:last-child {
      border-right: 1px solid #585858;
      @include for-device(tablet) {
        border-right: 0px solid #585858;
      }
    }
    a {
      display: block;
      padding-inline: 20px 45px;
      letter-spacing: -0.01em;
      width: 100%;
      position: relative;
      font-size: 17px;
      font-weight: 500;
      @include for-device(tablet) {
        font-size: calc((14 / 375) * 100vw);
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 25px;
        height: 25px;
        background: url(../../assets/images/recruit/common/arrow_pink.svg) no-repeat right center;
        transition: all 0.3s ease;
        pointer-events: none;
      }
    }
  }
}
