@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.btn {
  max-width: 260px;
  background-color: $color-white;
  a {
    display: block;
    color: $color-black;
    text-align: center;
    padding: 15px 40px 15px 20px;
    font-weight: bold;
    position: relative;
    font-size: 14px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 20px;
      height: 24px;
      background: url(../../assets/img/common/arrow_black.svg) no-repeat right center;
      background-size: 100% !important;
      transition: all 0.3s ease;
    }
    @media (hover: hover) {
      &:hover {
        &::before {
          right: 10px;
        }
      }
    }
  }
}
