@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.c-cta {
  background: $color-sakura;
  position: relative;
  padding: 70px 0;
  &__title {
    margin-bottom: 40px;
    font-size: 38px;
    small {
      font-size: 20px;
      display: block;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../assets/img/common/cta_bg.svg);
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  &__inner {
    max-width: 1025px;
    margin: 0 auto;
  }
  &.w-90 {
    width: 90%;
    max-width: 1260px;
    margin: 40px auto;
    border-radius: 10px;
  }
}
