@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.c-hero {
  background-color: #222222;
  padding: 60px;
  @include for-device(tablet) {
    padding: 40px 25px;
  }

  &__inner {
    max-width: 1025px;
    margin-inline: auto;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 20px;
    @include for-device(tablet) {
      font-size: 24px;
    }
    span {
      display: block;
      font-size: 22px;
      position: relative;
      text-indent: 2.8em;
      @include for-device(tablet) {
        font-size: 20px;
        text-indent: 2.2em;
      }
      &::before {
        content: "";
        width: 50px;
        height: 0.3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include for-device(tablet) {
          width: 30px;
        }
      }
    }
  }
  &__desc {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.8em;
    @include for-device(tablet) {
      margin-bottom: 0px;
    }
  }
}
