@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.c-hero {
  background-color: #222222;
  padding: 60px;
  &__inner {
    max-width: 1025px;
    margin-inline: auto;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 20px;
    span {
      display: block;
      font-size: 22px;
      position: relative;
      text-indent: 2.8em;
      &::before {
        content: "";
        width: 50px;
        height: 0.3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__desc {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.8em;
  }
}
