@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.c-title {
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: bold;
  &__sub {
    display: block;
    font-size: 10px;
  }
}

.c-border-title {
  border-left: 3px solid $color-sakura;
  line-height: 1.5;
  margin-bottom: 30px;
  padding-left: 15px;
  position: relative;
  @include for-device(tablet) {
    border-left: none;
    padding-left: 0;
    margin-bottom: 40px;
    &::before {
      content: "";
      height: 4px;
      background-color: #d80576;
      position: absolute;
      top: auto;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
    }
  }

  span {
    font-size: 18px;
    font-weight: bold;
  }
}

.c-sec-decoration {
  top: 0;
  left: 0;
  position: absolute;
  font-style: normal;
  padding: 5px 55px 5px 10px;
  background-color: #d80576;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  @include for-device(tablet) {
    font-size: 11px;
  }
  span {
    font-weight: bold;
  }
}
