@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.p-flow {
  &__personality {
    margin-bottom: 80px;
    &-message {
      gap: 80px;
      @include for-device(tablet) {
        flex-direction: column;
        row-gap: 20px;
      }
      &-left {
        max-width: 350px;
        @include for-device(tablet) {
          img {
            width: 100%;
            margin: 0 auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: top;
          }
        }
      }

      &-right {
        max-width: 595px;
        h3 {
          font-size: 40px;
          line-height: 1.4em;
          font-weight: 600;
          margin-bottom: 20px;
          @include for-device(tablet) {
            font-size: 22px;
          }
        }
        p {
          font-size: 18px;
          line-height: 1.8em;
          font-weight: 300;
          margin-bottom: 20px;
          @include for-device(tablet) {
            font-size: 14px;
          }
        }
        small {
          display: block;
          width: fit-content;
          margin-left: auto;
          font-size: 20px;
          @include for-device(tablet) {
            font-size: 16px;
          }
        }
      }
    }
  }
  &__list {
    &-item {
      display: flex;
      padding: 25px;
      background-color: #222222;
      gap: 40px;
      @include for-device(tablet) {
        flex-direction: column;
        row-gap: 0px;
        justify-content: center;
        align-items: center;
        padding: 15px;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &-text {
        @include for-device(tablet) {
          text-align: center;
        }
        .step {
          color: $color-sakura;
          font-weight: bold;
          font-size: 12px;
        }
        .note {
          font-size: 14px;
          &::before {
            content: "※";
            padding-right: 5px;
          }
        }
      }
      &-title {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}
