@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.p-initiatives {
  h2 {
    margin-bottom: 140px;
  }
  &__sub-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  &__bg {
    align-items: center;
    margin: 0 calc(50% - 50vw); /* 画面幅いっぱいにはみ出させるためのネガティブマージン */
    width: 100vw;
    position: relative;
    background-color: #222;
    &:not(:first-child) {
      margin-bottom: 240px;
    }
  }

  &__decoration {
    ul {
      li {
        position: absolute;
      }
    }
  }

  &__inner {
    max-width: 1080px;
    margin: 0 auto;
    align-items: center;
    position: relative;
  }
  &__box {
    margin-bottom: 160px;
  }
  &__txt {
    padding: 50px 40px;
  }

  &__img {
    position: absolute;
    right: 0%;
    img {
      max-width: 600px;
    }
  }
  .flex {
    &--reverse {
      flex-direction: row-reverse;
      .p-initiatives__img {
        right: auto;
        left: -10%;
      }
    }
  }

  &__list {
    margin-top: 30px;
    &-item {
      border-bottom: 1px solid #fff;
      a {
        font-size: 20px;
        display: block;
        padding: 20px 40px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 40px;
          width: 25px;
          height: 28px;
          background: url(../../assets/img/common/arrow_white_under.svg) no-repeat right center;
          background-size: 100% !important;
          transition: all 0.3s ease;
        }
        &:hover {
          &::before {
            top: 60%;
          }
        }
      }
    }
  }

  #community_engagement {
    .p-initiatives__bg {
      .p-initiatives__decoration {
        ul {
          li {
            &:nth-child(1) {
              top: 0;
              left: -40px;
            }
            &:nth-child(2) {
              bottom: 0;
              left: 47%;
              transform: translateX(-50%) rotate(-80deg);
              img {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }

  #wire_art_activities {
    .p-initiatives__bg {
      &:nth-of-type(1) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -150px;
                right: 30%;
                transform: rotate(-20deg);
                img {
                  width: 70%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(2) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -50px;
                left: 10%;
                transform: rotate(-5deg);
                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(3) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                bottom: -30px;
                right: 10%;
                transform: rotate(-80deg);
                img {
                  width: 60%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(4) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -70px;
                left: -30px;
                transform: rotate(-100deg);
                img {
                  width: 70%;
                }
              }
              &:nth-child(2) {
                bottom: -80px;
                left: 40%;
                transform: translateX(-50%) rotate(-20deg);

                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(6) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -40px;
                left: 40px;

                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(8) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -150px;
                right: 10%;
                transform: rotate(-80deg);
                img {
                  width: 60%;
                }
              }

              &:nth-child(2) {
                top: -80px;
                left: -20px;
                transform: rotate(-100deg);
                img {
                  width: 70%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(9) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -80px;
                right: 20%;
                transform: rotate(-10deg);
                img {
                  width: 70%;
                }
              }
            }
          }
        }
      }
    }
  }

  #events {
    .p-initiatives__bg {
      &:nth-of-type(1) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: 0;
                left: -40px;
              }
              &:nth-child(2) {
                bottom: 0;
                left: 47%;
                transform: translateX(-50%) rotate(-80deg);
                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(2) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                bottom: -30px;
                right: 10%;
                transform: rotate(-80deg);
                img {
                  width: 60%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(3) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -80px;
                left: -20px;
                transform: rotate(-100deg);
                img {
                  width: 70%;
                }
              }
              &:nth-child(2) {
                bottom: -80px;
                left: 40%;
                transform: translateX(-50%) rotate(-20deg);

                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(5) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -50px;
                left: 10%;
                transform: rotate(-5deg);
                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(6) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                bottom: -30px;
                right: 10%;
                transform: rotate(-80deg);
                img {
                  width: 60%;
                }
              }
            }
          }
        }
      }
    }
  }

  #manufacturing {
    .p-initiatives__bg {
      &:nth-of-type(1) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: 0;
                left: -40px;
              }
              &:nth-child(2) {
                bottom: 0;
                left: 47%;
                transform: translateX(-50%) rotate(-80deg);
                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(2) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                bottom: -30px;
                right: 10%;
                transform: rotate(-80deg);
                img {
                  width: 60%;
                }
              }
            }
          }
        }
      }
    }
  }

  #others {
    .p-initiatives__bg {
      &:nth-of-type(1) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -30px;
                right: 10%;
                transform: translateX(-50%) rotate(-20deg);
                img {
                  width: 50%;
                }
              }
              &:nth-child(2) {
                bottom: -20px;
                left: 52%;
                transform: translateX(-50%) rotate(-80deg);
                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(2) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                top: -30px;
                right: 10%;
                transform: translateX(-50%) rotate(-20deg);
                img {
                  width: 50%;
                }
              }
              &:nth-child(2) {
                bottom: -20px;
                left: 52%;
                transform: translateX(-50%) rotate(-80deg);
                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      &:nth-of-type(3) {
        .p-initiatives__decoration {
          ul {
            li {
              &:nth-child(1) {
                bottom: -30px;
                left: 10%;
                transform: translateX(-50%) rotate(-20deg);
                img {
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}
