@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.home {
  .p-interview {
    &__list {
      &-item {
        height: 300px !important;
        @include for-device(tablet) {
          height: auto !important;
        }
        &::before {
          display: none;
        }
        a {
          h3 {
            font-size: 34px;
            @include for-device(tablet) {
              font-size: 24px;
            }
            small {
              font-size: 18px;
              @include for-device(tablet) {
                font-size: 12px;
              }
            }
          }
        }
        img {
          right: 20px;
        }
      }
    }
    &__content {
      @include for-device(tablet) {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  .name__person {
    small {
      b {
        font-size: 20px;
        @include for-device(tablet) {
          font-size: 14px;
        }
      }
    }
  }
}

.p-interview {
  &__title {
    margin-bottom: 120px !important;
    @include for-device(tablet) {
      margin-bottom: 40px !important;
    }
  }
  &__list {
    &-item {
      position: relative;
      height: 330px;
      background: #222222;
      background: linear-gradient(215deg, rgba(34, 34, 34, 1) 0%, rgba(107, 107, 107, 0) 100%);

      a {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: end;
        padding: 25px;
        height: 100%;
        position: relative;
        z-index: 999;
        @include for-device(tablet) {
          padding-block: 60px 10px;
        }
        i {
          top: 0;
          left: 0;
          position: absolute;
          font-style: normal;
          padding: 5px 25px 5px 10px;
          background-color: #d80576;
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
          font-size: 12px;
          @include for-device(tablet) {
            padding: 5px 4px 5px 8px;
            font-size: 9px;
            letter-spacing: -0.1em;
          }
        }
        h3 {
          font-size: 36px;
          letter-spacing: -0.05em;
          line-height: 1em;
          small {
            font-size: 20px;
          }
        }

        .name {
          border-bottom: 1px solid #fff;
          margin-bottom: 20px;
          width: 70%;
          @include for-device(tablet) {
            margin-bottom: 10px;
          }
          &__position {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #393939;
            width: fit-content;
            margin-bottom: 5px;
            padding: 7px 20px 5px 15px;
            border-radius: 50px;
            font-size: 12px;
            line-height: 1;
            &::before {
              content: "";
              width: 3px;
              height: 3px;
              background-color: #d80576;
              border-radius: 50%;
              display: inline-block;
            }
          }
          &__person {
            font-size: 22px;
            display: flex;
            align-items: center;
            @include for-device(tablet) {
              font-size: 14px;
            }
            small {
              font-size: 14px;
              display: inline-block;
              width: fit-content;
              margin-left: 30px;
              @include for-device(tablet) {
                font-size: 7px;
              }
            }
          }
        }
      }
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 260px;
        height: 375px;
        z-index: -1;
        @include for-device(tablet) {
          width: 150px;
          height: 214px;
          object-fit: contain;
        }
      }
    }
  }
}
