@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.kv {
  &_inner {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  &__bg {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__txt {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    img {
      width: calc((708 / 1366) * 100vw);
    }
  }
}
