@use "sass:math";
@use "sass:map";
@use "../../foundation" as *;

.p-vision {
  padding-block: 0;
  .section-transition {
    transition: opacity 1s ease-in-out;
  }

  .sticky-content {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
  }

  .container-height {
    height: 400vh;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__title {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom: 30px;
  }
  &__desc {
    margin-bottom: 40px;
  }
}
