@charset "utf-8";

/* =========================================================
 *
 *  サイト ： サクラテック株式会社
 *  タイプ ： Contents Layer [ 製品情報 ]
 *
========================================================= */


/* Set Function Import
========================================================= */

@use "../foundation/functions" as *;



/* ガンバルZシリーズ
========================================================= */

.gambalz-title {
	position: relative; font-size: 3.4rem; font-weight: 700; line-height: 4.4rem; padding-top: 7px; padding-bottom: 13px; padding-left: 28px; margin-bottom: 42px;
	&::before { position: absolute; top: 0; left: 0; z-index: 11; content: ""; width: 6px; height: 100%; background-color: #8d9baa; }
	&::after { position: absolute; top: 0; left: 0; z-index: 12; content: ""; width: 6px; height: 10px; background-color: #ff0a88; }
}

.gambalz-index {
	display: flex; flex-wrap: wrap; justify-content: space-between;
	&__li { width: calc(480 / 1000 * 100%); }
	&__li:nth-last-child(n+3) { margin-bottom: 40px; }
	&__btn { position: relative; display: table; width: 100%; text-decoration: none; border-top: 1px solid #0e447c; border-bottom: 1px solid #0e447c; border-right: 1px solid #0e447c; border-left: 9px solid #0e447c; border-radius: 4px; }
	&__btn::before { position: absolute; top: 0; bottom: 0; left: 0; margin-top: auto; margin-bottom: auto; z-index: 11; content: ""; width: 30px; height: 1px; background-color: #0e447c; }
	&__btn::after { position: absolute; top: 0; bottom: 0; left: 28px; margin-top: auto; margin-bottom: auto; z-index: 11; content: ""; width: 6px; height: 9px; background: url(../images/common/icon_arr_local_off.svg) no-repeat left top; }
	&__btn--h180 { min-height: 180px; }
	&__btn--h210 { min-height: 210px; }
	&__btn-cell { display: table-cell; vertical-align: top; padding-top: 26px; padding-bottom: 26px; padding-left: 61px; padding-right: 30px; }
	&__text1 { color: #333333; font-size: 1.9rem; font-weight: 500; line-height: 2.7rem; margin-bottom: 6px; }
	&__text2 { color: #0e447c; font-feature-settings: "palt"; font-size: 2.2rem; font-weight: 700; line-height: 3.2rem; margin-bottom: 13px; }
	&__text3 { color: #7a7a7a; font-size: 1.4rem; font-weight: 500; line-height: 2.4rem; }
	&__text-br { display: none; }
}

@media screen and (min-width: $breakpoint-hover) {
	.gambalz-index {
		&__btn { transition: all 0.26s ease; }
		&__btn::before { transition: all 0.26s ease; }
		&__btn::after { transition: all 0.26s ease; }
		&__btn:hover { background-color: #eef3f8; }
		&__btn:hover::before { width: 34px; }
		&__btn:hover::after { left: 32px; }
	}
}

@media screen and (max-width: $breakpoint-tablet) {
	.gambalz-title {
		font-size: 2.7rem; line-height: 3.7rem; padding-top: 6px; padding-bottom: 10px; padding-left: 24px; margin-bottom: 30px;
	}

	.gambalz-index {
		&__li:nth-last-child(n+3) { margin-bottom: 30px; }
		&__btn { border-left: 6px solid #0e447c; }
		&__btn-cell { padding-top: 24px; padding-bottom: 25px; padding-left: 35px; padding-right: 10px; }
		&__text1 { font-size: 1.6rem; line-height: 2.4rem; margin-bottom: 5px; }
		&__text2 { font-size: 1.9rem; line-height: 2.9rem; margin-bottom: 9px; }
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.gambalz-title {
		font-size: 2.1rem; line-height: 3.1rem; padding-top: 0; padding-bottom: 4px; padding-left: 22px;
		&::before { width: 5px; }
		&::after { width: 5px; }
	}

	.gambalz-index {
		flex-direction: column;
		&__li { width: 100%; }
		&__li:nth-last-child(n+3) { margin-bottom: auto; }
		&__li:not(:last-child) { margin-bottom: 30px; }
		&__btn::before { width: 22px; }
		&__btn::after { left: 21px; }
		&__btn-cell { padding-left: 30px; padding-right: 20px; }
		&__btn--h180 { min-height: auto; }
		&__btn--h210 { min-height: auto; }
		&__text3 br { display: none; }
		&__text-br { display: block; }
	}
}



/* めっき鉄線「ガンバルZ（S）」
========================================================= */

.steel-wire-features {
	width: 100%; border: 1px solid #8d9baa; padding-top: 40px; padding-bottom: 40px; padding-right: 39px; padding-left: 39px;
	&__h3 { font-size: 2rem; font-weight: 500; line-height: 2.8rem; border-left: 3px solid #0e447c; padding-bottom: 4px; padding-left: 8px; margin-bottom: 24px; }
	&__box { display: flex; justify-content: space-between; }
	&__read { width: calc(380 / 920 * 100%); }
	&__photo { width: calc(500 / 920 * 100%); height: 100%; display: flex; justify-content: space-between; }
	&__photo figure { width: calc(240 / 500 * 100%); }
	&__photo figcaption { font-size: 1.8rem; font-weight: 500; line-height: 2.6rem; margin-bottom: 7px; }
}

@media screen and (max-width: $breakpoint-mobile) {
	.steel-wire-features {
		padding-top: 20px; padding-bottom: 20px; padding-right: 19px; padding-left: 19px;
		&__h3 { font-size: 1.7rem; line-height: 2.5rem; padding-bottom: 2px; margin-bottom: 18px; }
		&__box { flex-direction: column; }
		&__read { width: 100%; margin-bottom: 12px; }
		&__photo { width: 100%; }
		&__photo figcaption { font-size: 1.5rem; line-height: 2.3rem; margin-bottom: 6px; }
	}
}



/* 養殖用極厚めっき線
========================================================= */

.aquaculture-plated-features {
	width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 50px;
	&__block { width: calc(485 / 1000 * 100%); background-color: #f0f7fc; }
	&__block:nth-last-child(n+3) { margin-bottom: 30px; }
	&__h3 { color: #0e447c; font-size: 2rem; font-weight: 500; line-height: 3rem; background-color: #cfdde7; padding-top: 11px; padding-bottom: 15px; padding-right: 25px; padding-left: 25px; }
	&__h3-span { display: block; padding-top: 15px; padding-bottom: 15px; }
	&__block-inner { padding-top: 20px; padding-bottom: 25px; padding-right: 25px; padding-left: 25px; }
	&__h4 { font-size: 1.8rem; font-weight: 500; line-height: 2.4rem; border-left: 3px solid #cfdde7; padding-bottom: 2px; padding-left: 15px; margin-bottom: 10px; }
}

.aquaculture-plated-column {
	width: 100%; border: 1px solid #8d9baa; padding-top: 40px; padding-bottom: 40px; padding-right: 39px; padding-left: 39px;
	&__h3 { font-size: 2rem; font-weight: 500; line-height: 2.8rem; border-left: 3px solid #0e447c; padding-bottom: 4px; padding-left: 8px; margin-bottom: 24px; }
	&__box { display: flex; justify-content: space-between; }
	&__read { margin-bottom: 20px; }
	&__figure { display: flex; justify-content: space-between; }
	&__figure1 { width: calc(500 / 920 * 100%); height: 100%; background-color: #f0f7fc; padding-right: 20px; padding-left: 20px; padding-top: 16px; padding-bottom: 20px; }
	&__figure2 { width: calc(406 / 920 * 100%); height: 100%; background-color: #f0f7fc; padding-right: 20px; padding-left: 20px; padding-top: 16px; padding-bottom: 20px; }
	&__figure h4 { font-size: 1.8rem; font-weight: 500; line-height: 2.6rem; margin-bottom: 6px; }
	&__figure p { margin-bottom: 19px; }
}

@media screen and (max-width: $breakpoint-tablet) {
	.aquaculture-plated-features {
		flex-direction: column;
		&__block { width: 100%; }
		&__block:nth-last-child(n+3) { margin-bottom: auto; }
		&__block:not(:last-child) { margin-bottom: 30px; }
		&__h3-span { display: inline; padding-top: 0; padding-bottom: 0; }
	}

	.aquaculture-plated-column {
		padding-top: 30px; padding-bottom: 30px; padding-right: 29px; padding-left: 29px;
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.aquaculture-plated-features {
		margin-bottom: 40px;
		&__block:not(:last-child) { margin-bottom: 20px; }
		&__h3 { font-size: 1.7rem; line-height: 2.7rem; padding-top: 10px; padding-bottom: 12px; padding-right: 15px; padding-left: 15px; }
		&__h3 br { display: none; }
		&__block-inner { padding-top: 15px; padding-bottom: 15px; padding-right: 15px; padding-left: 15px; }
		&__h4 { font-size: 1.6rem; line-height: 2.4rem; padding-left: 12px; margin-bottom: 8px; }
		&__txt { font-size: 1.4rem; line-height: 2.4rem; }
	}

	.aquaculture-plated-column {
		padding-top: 20px; padding-bottom: 20px; padding-right: 19px; padding-left: 19px;
		&__h3 { font-size: 1.7rem; line-height: 2.5rem; padding-bottom: 2px; margin-bottom: 18px; }
		&__read { margin-bottom: 12px; }
		&__figure { flex-direction: column; }
		&__figure1 { width: 100%; padding-right: 15px; padding-left: 15px; padding-top: 10px; padding-bottom: 15px; margin-bottom: 20px; }
		&__figure2 { width: 100%; padding-right: 15px; padding-left: 15px; padding-top: 10px; padding-bottom: 15px; }
		&__figure h4 { font-size: 1.6rem; line-height: 2.4rem; margin-bottom: 4px; }
		&__figure p { margin-bottom: 10px; }
	}
}



/* 果樹園用規格針金
========================================================= */

.orchard-wire-features {
	width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 50px;
	&__block { width: calc(485 / 1000 * 100%); background-color: #f0f7fc; }
	&__block:nth-last-child(n+3) { margin-bottom: 30px; }
	&__h3 { color: #0e447c; font-size: 2rem; font-weight: 500; line-height: 3rem; background-color: #cfdde7; padding-top: 11px; padding-bottom: 15px; padding-right: 25px; padding-left: 25px; }
	&__block-inner { padding-top: 20px; padding-bottom: 25px; padding-right: 25px; padding-left: 25px; }
	&__h4 { font-size: 1.8rem; font-weight: 500; line-height: 2.8rem; border-left: 3px solid #cfdde7; padding-top: 9px; padding-bottom: 11px; padding-left: 15px; margin-bottom: 20px; }
	&__box { display: flex; justify-content: space-between; }
	&__box-img { width: calc(140 / 435 * 100%); }
	&__box-a { position: relative; display: block; overflow: hidden; }
	&__box-a img { transform: scale(1); }
	&__box-a::before { position: absolute; top: 0; right: 0; z-index: 11; content: ""; width: 18px; height: 18px; background-image: url(../images/common/icon_loupe_.png); background-color: #4b4b4b; background-repeat: no-repeat; background-size: 100%; }
	&__box-txt { width: calc(280 / 435 * 100%); transform: translateY(-5px); }
}

.orchard-wire-yutaka {
	width: 100%; border: 1px solid #8d9baa; padding-top: 40px; padding-bottom: 40px; padding-right: 39px; padding-left: 39px;
	&__h3 { font-size: 2rem; font-weight: 500; line-height: 2.8rem; border-left: 3px solid #0e447c; padding-bottom: 4px; padding-left: 8px; margin-bottom: 24px; }
	&__h4 { font-size: 1.8rem; font-weight: 500; line-height: 2.8rem; }
	&__secret { display: flex; justify-content: space-between; margin-bottom: 45px; }
	&__secret-img { width: calc(410 / 920 * 100%); height: 100%; }
	&__secret-point { width: calc(480 / 920 * 100%); }
	&__secret-point dt { color: #0e447c; font-size: 2rem; font-weight: 700; line-height: 2.8rem; margin-bottom: 6px; }
	&__secret-point dd { line-height: 2.8rem; }
	&__secret-point dd:not(:last-child) { margin-bottom: 12px; }
	&__comparison { display: flex; justify-content: space-between; margin-bottom: 35px; }
	&__comparison-box { width: calc(440 / 920 * 100%); height: 100%; }
	&__comparison-box figcaption { padding-top: 9px; line-height: 2.8rem; }
}

@media screen and (min-width: $breakpoint-hover) {
	.orchard-wire-features {
		&__box-a img { transition: all 0.4s ease; }
		&__box-a::before { transition: all 0.4s ease; }
		&__box-a:hover img { transform: scale(1.06); }
		&__box-a:hover::before { background-color: #e62388; }
	}
}

@media screen and (max-width: $breakpoint-tablet) {
	.orchard-wire-features {
		flex-direction: column;
		&__block { width: 100%; }
		&__block:nth-last-child(n+3) { margin-bottom: auto; }
		&__block:not(:last-child) { margin-bottom: 30px; }
		&__box-img { width: 140px; }
		&__box-txt { width: calc(100% - 160px); }
	}

	.orchard-wire-yutaka {
		padding-top: 30px; padding-bottom: 30px; padding-right: 29px; padding-left: 29px;
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.orchard-wire-features {
		margin-bottom: 40px;
		&__block:not(:last-child) { margin-bottom: 20px; }
		&__h3 { font-size: 1.7rem; line-height: 2.7rem; padding-top: 10px; padding-bottom: 12px; padding-right: 15px; padding-left: 15px; }
		&__block-inner { padding-top: 15px; padding-bottom: 15px; padding-right: 15px; padding-left: 15px; }
		&__h4 { font-size: 1.6rem; line-height: 2.6rem; padding-top: 3px; padding-bottom: 5px; padding-left: 12px; margin-bottom: 12px; }
		&__box-img { width: 100px; }
		&__box-txt { width: calc(100% - 120px); font-size: 1.4rem; line-height: 2.4rem; }
	}

	.orchard-wire-yutaka {
		padding-top: 20px; padding-bottom: 20px; padding-right: 19px; padding-left: 19px;
		&__h3 { font-size: 1.7rem; line-height: 2.5rem; padding-bottom: 2px; margin-bottom: 18px; }
		&__h4 { font-size: 1.6rem; line-height: 2.6rem; }
		&__secret { flex-direction: column; margin-bottom: 30px; }
		&__secret-img { width: 100%; max-width: 400px; margin-right: auto; margin-left: auto; }
		&__secret-point { width: 100%; }
		&__secret-point dt { font-size: 1.6rem; line-height: 2.7rem; margin-bottom: 4px; }
		&__secret-point dd { line-height: 2.4rem; }
		&__comparison { flex-direction: column; margin-bottom: 20px; }
		&__comparison-box { width: 100%; }
		&__comparison-box:not(:last-child) { margin-bottom: 20px; }
		&__comparison-box figcaption { line-height: 2.4rem; }
	}
}



/* 極厚亜鉛めっき鉄線とは
========================================================= */

.whatis-about {
	position: relative; width: 100%; padding-top: 90px; padding-bottom: 120px; margin-top: 30px;
	&::after { position: absolute; top: 0; left: -100vw; z-index: 11; content: ""; width: calc(100vw + 100vw); height: 100%; background-color: #f0f7fc; }
	&__inner { position: relative; z-index: 12; }
	&__h2 { position: relative; font-size: 3.4rem; font-weight: 700; line-height: 4.4rem; text-align: center; padding-bottom: 36px; margin-bottom: 33px; }
	&__h2::after { position: absolute; bottom: 0; right: 0; left: 0; margin-right: auto; margin-left: auto; content: ""; width: 64px; height: 1px; background-color: #000000; }
	&__h3 { color: #ff0a88; font-size: 2.4rem; font-weight: 700; line-height: 3.4rem; text-align: center; margin-bottom: 20px; }
	&__h3 br { display: none; }
	&__p { font-size: 1.6rem; font-weight: 500; line-height: 3.2rem; text-align: center; margin-bottom: 48px; }
	&__box { background-color: #ffffff; box-shadow: 0px 20px 20px 0px rgba(97,117,141,0.3); padding-top: 50px; padding-bottom: 58px; padding-right: 60px; padding-left: 60px; }
	&__box-h3 { position: relative; color: #0e447c; font-size: 2.4rem; font-weight: 700; line-height: 3.4rem; text-align: center; padding-bottom: 30px; margin-bottom: 40px; }
	&__box-h3::after { position: absolute; bottom: 0; right: 0; left: 0; margin-right: auto; margin-left: auto; content: ""; width: 48px; height: 1px; background-color: #000000; }
	&__box-h3 br { display: none; }
	&__box-flex { display: flex; justify-content: space-between; }
	&__box-img { width: calc(380 / 880 * 100%); height: 100%; padding-top: 30px; }
	&__box-point { width: calc(470 / 880 * 100%); height: 100%; }
	&__box-point dt { color: #0e447c; font-size: 2rem; font-weight: 700; line-height: 2.8rem; margin-bottom: 6px; }
	&__box-point dd { line-height: 2.8rem; }
	&__box-point dd:not(:last-child) { margin-bottom: 20px; }
}

.whatis-point {
	width: 100%; padding-top: 100px;
	&__block:not(:last-child) { margin-bottom: 120px; }
	&__h2 { position: relative; display: flex; align-items: center; padding-top: 22px; padding-bottom: 32px; overflow: hidden; margin-bottom: 45px; }
	&__h2::after { position: absolute; top: 0; bottom: 0; right: 0; margin-top: auto; margin-bottom: auto; z-index: 11; content: ""; width: 100%; height: 1px; background-color: #0e447c; }
	&__h2-number { position: relative; z-index: 12; width: 124px; color: #ecf0f3; font-family: 'Barlow', sans-serif; font-size: 10.8rem; font-weight: 500; letter-spacing: -0.06em; background-color: #ffffff; }
	&__h2-number i { display: inline-block; font-style: normal; transform: translateX(-6px); }
	&__h2-copy { position: relative; z-index: 12; color: #0e447c; font-size: 2.8rem; font-weight: 700; background-color: #ffffff; padding-right: 24px; }
	&__h2-copy i { display: inline-block; font-style: normal; transform: translateY(2px); }
	&__box { width: 100%; display: flex; justify-content: space-between; align-items: center; }
	&__box-img { width: calc(500 / 1000 * 100%); height: 100%; }
	&__box-txt { width: calc(470 / 1000 * 100%); height: 100%; }
	&__h3 { font-size: 2rem; font-weight: 500; line-height: 3.3rem; margin-bottom: 10px; }
	&__p { line-height: 2.8rem; }
}

@media screen and (max-width: $breakpoint-tablet) {
	.whatis-about {
		padding-top: 70px; padding-bottom: 90px; margin-top: 20px;
	}

	.whatis-point {
		padding-top: 70px;
		&__block:not(:last-child) { margin-bottom: 80px; }
		&__h2 { padding-top: 15px; padding-bottom: 24px; margin-bottom: 35px; }
		&__h2-number { width: 100px; font-size: 8.6rem; }
		&__h2-number i { transform: translateX(-4px); }
		&__h2-copy { font-size: 2.6rem; }
		&__box { align-items: stretch; }
		&__box-img { padding-top: 4px; }
		&__h3 { font-size: 1.9rem; line-height: 3rem; }
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.whatis-about {
		padding-top: 50px; padding-bottom: 50px; margin-top: 2px;
		&__h2 { font-size: 2.4rem; line-height: 3.4rem; padding-bottom: 19px; margin-bottom: 14px; }
		&__h2::after { width: 40px; }
		&__h3 { font-size: 2rem; line-height: 3.2rem; margin-bottom: 10px; }
		&__h3 br { display: block; }
		&__p { text-align: left; margin-bottom: 32px; }
		&__p br { display: none; }
		&__box { padding-top: 40px; padding-bottom: 48px; padding-right: 20px; padding-left: 20px; }
		&__box-h3 { font-size: 2rem; line-height: 3rem; padding-bottom: 16px; margin-bottom: 30px; }
		&__box-h3::after { width: 32px; }
		&__box-h3 br { display: block; }
		&__box-flex { flex-direction: column; }
		&__box-img { width: 100%; max-width: 400px; padding-top: 0; margin-bottom: 26px; margin-right: auto; margin-left: auto; }
		&__box-point { width: 100%; }
		&__box-point dt { font-size: 1.8rem; line-height: 2.6rem; }
		&__box-point dd { line-height: 2.4rem; }
	}

	.whatis-point {
		padding-top: 45px;
		&__block:not(:last-child) { margin-bottom: 50px; }
		&__h2 { padding-top: 9px; padding-bottom: 16px; margin-bottom: 25px; }
		&__h2-number { width: 78px; font-size: 6.4rem; }
		&__h2-number i { transform: translateX(-3px); }
		&__h2-copy { font-size: 2rem; padding-right: 15px; }
		&__box { flex-direction: column; }
		&__box-img { width: 100%; padding-top: 0; order: 1; margin-bottom: 15px; }
		&__box-txt { width: 100%; order: 2; }
		&__h3 { font-size: 1.8rem; line-height: 2.8rem; }
	}
}
