@charset "UTF-8";
/* =========================================================
 *
 *  サイト ： サクラテック株式会社
 *  タイプ ： Contents Layer [ サステナビリティ ]
 *
========================================================= */
/* Set Function Import
========================================================= */
/* =========================================================
 *
 *  サイト ： サクラテック株式会社
 *  タイプ ： Foundation Layer
 *
========================================================= */
/* Set Foundation
========================================================= */
/* =========================================================
 *
 *  サイト ： サクラテック株式会社
 *  タイプ ： Foundation Layer
 *
========================================================= */
/* 変数定義
========================================================= */
/* カラー
------------------------------------------ */
/* フォント
------------------------------------------ */
/* ブレイクポイント
------------------------------------------ */
/* =========================================================
 *
 *  サイト ： サクラテック株式会社
 *  タイプ ： Foundation Layer
 *
========================================================= */
/* Set Foundation
========================================================= */
/* =========================================================
 *
 *  サイト ： サクラテック株式会社
 *  タイプ ： Foundation Layer
 *
========================================================= */
/* Set Function Import
========================================================= */
/* 計算式のpxなどの単位を消す
========================================================= */
/* line-heightの上下の余白を消す
========================================================= */
/* justify-content: space-between;の最後の行が両端揃えにならないようにする
========================================================= */
/* 3列用 */
/* 見出し
========================================================= */
.sustainability-headline {
  position: relative;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 36px;
}

.sustainability-headline::after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #333333;
}

@media screen and (max-width: 767px) {
  .sustainability-headline {
    font-size: 2.2rem;
    line-height: 3.2rem;
    padding-bottom: 15px;
    margin-bottom: 22px;
  }
  .sustainability-headline::after {
    width: 40px;
  }
}
/* 変わり続ける。暮らしの安全を守り続けるために。
========================================================= */
.sustainability-message {
  margin-bottom: 84px;
}
.sustainability-message__sdgs_illust1 {
  max-width: 340px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}
.sustainability-message__h2 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 4.6rem;
  text-align: center;
  margin-bottom: 26px;
}
.sustainability-message__read {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.7rem;
  text-align: center;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  margin-bottom: 50px;
}
.sustainability-message__sdgs_illust2 {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 44px;
}
.sustainability-message__link {
  text-align: center;
}
.sustainability-message__link-a {
  position: relative;
  display: inline-block;
  color: #0599d9;
  text-decoration: none;
  padding-left: 24px;
}
.sustainability-message__link-a::before {
  position: absolute;
  top: 8px;
  left: 4px;
  z-index: 12;
  content: "";
  width: 12px;
  height: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #0599d9;
}
.sustainability-message__link-a::after {
  position: absolute;
  top: 11px;
  left: 0;
  z-index: 11;
  content: "";
  width: 13px;
  height: 11px;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: #0599d9;
}
.sustainability-message__link-a span {
  position: relative;
  padding-bottom: 1px;
}
.sustainability-message__link-a span::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #0599d9;
}
.sustainability-message__br-tablet {
  display: none;
}
.sustainability-message__br-mobile {
  display: none;
}

@media screen and (min-width: 769px) {
  .sustainability-message__link-a, .sustainability-message__link-a::before, .sustainability-message__link-a::after, .sustainability-message__link-a span::after {
    transition: all 0.2s ease;
  }
  .sustainability-message__link-a:hover {
    color: #ff0a88;
  }
  .sustainability-message__link-a:hover::before {
    border-color: #ff0a88;
  }
  .sustainability-message__link-a:hover::after {
    border-color: #ff0a88;
  }
  .sustainability-message__link-a:hover span::after {
    background-color: #ff0a88;
  }
}
@media screen and (max-width: 1023px) {
  .sustainability-message {
    margin-bottom: 74px;
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
  }
  .sustainability-message__sdgs_illust1 {
    max-width: 280px;
    margin-bottom: 50px;
  }
  .sustainability-message__h2 {
    font-size: 3rem;
    line-height: 4.6rem;
    margin-bottom: 20px;
  }
  .sustainability-message__read {
    line-height: 3.4rem;
    text-align: left;
    margin-bottom: 40px;
  }
  .sustainability-message__read br {
    display: none;
  }
  .sustainability-message__sdgs_illust2 {
    margin-bottom: 38px;
  }
  .sustainability-message__br-tablet {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .sustainability-message {
    margin-bottom: 64px;
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
  }
  .sustainability-message__sdgs_illust1 {
    max-width: 240px;
    margin-bottom: 30px;
  }
  .sustainability-message__h2 {
    font-size: 2.3rem;
    line-height: 3.8rem;
    margin-bottom: 16px;
  }
  .sustainability-message__read {
    line-height: 3rem;
    margin-bottom: 30px;
  }
  .sustainability-message__sdgs_illust2 {
    margin-bottom: 30px;
  }
  .sustainability-message__br-mobile {
    display: block;
  }
}
/* SDGsへの取組み
========================================================= */
.sustainability-efforts {
  position: relative;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 70px;
}
.sustainability-efforts::after {
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: 11;
  content: "";
  width: 200vw;
  height: 100%;
  background-color: #f2f9e9;
}
.sustainability-efforts__inner {
  position: relative;
  z-index: 12;
}
.sustainability-efforts__box {
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(170, 183, 189, 0.2);
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 60px;
  padding-left: 60px;
}
.sustainability-efforts__box:not(:last-child) {
  margin-bottom: 40px;
}
.sustainability-efforts__sdgs-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.sustainability-efforts__sdgs-icon li {
  width: 80px;
}
.sustainability-efforts__sdgs-icon li:not(:last-child) {
  margin-right: 20px;
}
.sustainability-efforts__details {
  border-top: 1px solid #c8c8c8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}
.sustainability-efforts__details-img {
  width: 31.8181818182%;
  height: 100%;
}
.sustainability-efforts__details-txt {
  width: 63.6363636364%;
  transform: translateY(-5px);
}
.sustainability-efforts__details-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 12px;
}

@media screen and (max-width: 1023px) {
  .sustainability-efforts {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .sustainability-efforts__box {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .sustainability-efforts__box:not(:last-child) {
    margin-bottom: 30px;
  }
  .sustainability-efforts__sdgs-icon li {
    width: 60px;
  }
  .sustainability-efforts__sdgs-icon li:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .sustainability-efforts {
    padding-top: 40px;
    padding-bottom: 50px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  .sustainability-efforts__box {
    padding-top: 20px;
    padding-bottom: 22px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .sustainability-efforts__box:not(:last-child) {
    margin-bottom: 20px;
  }
  .sustainability-efforts__sdgs-icon {
    margin-bottom: 15px;
  }
  .sustainability-efforts__sdgs-icon li {
    width: 56spx;
  }
  .sustainability-efforts__sdgs-icon li:not(:last-child) {
    margin-right: 12px;
  }
  .sustainability-efforts__details {
    flex-direction: column;
  }
  .sustainability-efforts__details-img {
    width: 100%;
    margin-bottom: 12px;
  }
  .sustainability-efforts__details-txt {
    width: 100%;
    transform: translateY(0);
  }
  .sustainability-efforts__details-h3 {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 10px;
  }
  .sustainability-efforts__details-h3 br {
    display: none;
  }
}
/* 品質管理
========================================================= */
.sustainability-quality {
  width: 100%;
  padding-top: 50px;
}
.sustainability-quality__read {
  text-align: center;
  margin-bottom: 60px;
}
.sustainability-quality__flex {
  display: flex;
  justify-content: space-between;
}
.sustainability-quality__box {
  width: 47%;
  height: 100%;
}
.sustainability-quality__box-h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  text-align: center;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-bottom: 13px;
}
.sustainability-quality__box-p {
  margin-bottom: 30px;
}
.sustainability-quality__box-figure {
  display: flex;
  justify-content: space-between;
}
.sustainability-quality__box-figure figure {
  width: 46.8085106383%;
  height: 100%;
}
.sustainability-quality__box-figure figcaption {
  text-align: center;
  padding-top: 5px;
}

@media screen and (max-width: 767px) {
  .sustainability-quality {
    padding-top: 40px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  .sustainability-quality__read {
    text-align: left;
    margin-bottom: 30px;
  }
  .sustainability-quality__flex {
    flex-direction: column;
  }
  .sustainability-quality__box {
    width: 100%;
  }
  .sustainability-quality__box:not(:last-child) {
    margin-bottom: 30px;
  }
  .sustainability-quality__box-h3 {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .sustainability-quality__box-p {
    margin-bottom: 16px;
  }
  .sustainability-quality__box-figure {
    flex-direction: column;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .sustainability-quality__box-figure figure {
    width: 100%;
  }
  .sustainability-quality__box-figure figure:not(:last-child) {
    margin-bottom: 16px;
  }
}