@use "sass:math";
@use "sass:map";
@use "../foundation" as *;

.l-header__nav-bt5 {
  width: 100px !important;
  @media screen and (max-width: 767px) {
    width: 100% !important;
    &::after {
      display: none !important;
    }
  }
}
